* {
    font-family: "Roboto", sans-serif;
}

.bg-primary-color {
    background-color: rgba(255, 255, 255, 0.295);
}

.bg-secondary-color {
    background-color: #ece0ea;
}

.bg-dark-color {
    background-color: #050505;
}

.primary-color {
    color: #050505;
}
.secondary-color {
    color: #7a7a7a;
}

/* NAVBAR */
#navbar {
    border-bottom: 1px solid #7a7a7a;
}

#navbar a:hover {
    color: #d0ff25;
}

#navbar a.active {
    border-bottom:  1px solid #050505;
}

#navbar-brand {
    display: flex;
}

#navbar-brand img {
    width: 50px;
 }

 #navbar-brand span {
     font-weight: 700;
     font-size: 1.5em;
     margin-left: 0.5em;
 }

 #navbar-items .navbar-nav {
     display: flex;
     justify-content: center;
     width: 100%;
 }

 #navbar-items .nav-item {
     margin: 0.1em;
}

/* SLIDER */
#slider {
    margin-top: 10em;
    margin-bottom: 1em;
}
#slider .carousel-caption {
    bottom: 3em;
}

#slider .carousel-caption h5 {
    margin-top: 1em;
    font-size:  1.5em;
    text-shadow:  #000 2px 2px;
}

.btn {
    border-radius: 0;
}

#slider .btn {
    padding: 0.3 0.8em;
    font-size: 1em;
    margin-top: 1em;
}

.carousel-control-prev i,
.carousel-control-next i {
    color: #ece0ea;
    font-size: 3em;
}

.carousel-indicators [data-bs-target] {
    background-color:#7a7a7a;
    opacity: 0.8;

}

.carousel-indicators .active {
    background-color: #d0ff25;
}

@media(min-width: 768px) {
    #slider .carousel-caption {
        bottom: 15em;
    }

    #slider .carousel-caption h5 {
        margin-top: 1em;
        font-size:  5em;
        text-shadow:  #000 2px 3px;
    }
    
    #slider .btn {
        padding: 0.7 1.8em;
        font-size: 1.2em;
    }

    .carousel-indicators {
        bottom: 7em;
    }
}
/* ABOUT */
.about .col-12 h2 {
    text-shadow:  #000 0.5px 1px;
}
.about p {
    font-size: 1.4em;
}
.about .col-12 a{
    padding: 0.5 1.5em;
    font-size: 1.2em;    
}
.bg-secondary-color {
    background-color:#7a7a7a31 ;
}
/* Soft skills section styling */
.soft {
    max-width: flex;

}
.soft, .teams{
    color:#fff;
    background: #111;
}
.soft .title {
    text-align: left;

}
.soft .title::before,
.teams .title::before{
    background: #fff;
}

.soft .title::after,
.teams .title::after{
    background: #111;
    content: " com isso posso agregar em sua empresa:";
}

.soft .soft-content .card{
    margin: 5px;
    width: calc(100% - 30px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 35px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.soft .soft-content .card:hover{
    background: rgba(0, 238, 255, 0.103);
    border: #797979 solid 1px;
    color: #FFFFFF;
}

.soft .soft-content .card .box{
    transition: all 0.2s ease;
}

.soft .soft-content .card:hover .box{
    transform: scale(1.15);
}

.soft .soft-content .card i{
    font-size: 50px;
    transition: color 0.3s ease;
}

.soft .soft-content .card:hover i{
    color: #d0ff25;
}
.soft .soft-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
/* Hard skills section styling */
.hard {
    background-color: #fff;
    max-width: flex;
}
.hard .max-width .title {
    color: rgb(0, 0, 0);
}
.hard .title::after{
    content: " as tecnologias que utilizo: ";
    

}
.hard .HSkills-content .column{
    max-width: flex;
   
}

.hard .HSkills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.hard .HSkills-content .left p{
 
    text-align: center;
    margin-bottom: 100px;
    line-height: 5vh;
}
.hard .HSkills-content .right .bars{
    margin-bottom: 15px;
    padding: 5px;
}
.hard .HSkills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.hard .HSkills-content .right span{
    font-weight: 500;
    font-size: 24px;
}

.hard .HSkills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.hard .HSkills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(1, 48, 202);
}
.HSkills-content .right .html::before{
    width: 70%;
}
.HSkills-content .right .css::before{
    width: 60%;
}
.HSkills-content .right .js::before{
    width: 40%;
}
.HSkills-content .right .git::before{
    width: 60%;
}
.HSkills-content .right .github::before{
    width: 60%;
}
.HSkills-content .right .linux::before{
    width: 30%;
}
.HSkills-content .right .data-science::before{
    width: 20%;
}
.HSkills-content .right .mysql::before{
    width: 60%;
}

.HSkills-content .right .php::before {
    width: 30%;
}
/* Footer section styling */

footer{
    background: #111;
    color: #fff;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: -75px;
}

footer span a{
    width: 10em;
    color: crimson;
    text-decoration: none;
}

footer span a:hover{
    text-decoration: underline;
}

.love {
    display:inline-block;
    position:relative;
    top:.1em;
    font-size:1.8em;
    color:#d0ff25;
    transform:scale(.9);
    animation:love .5s linear infinite alternate-reverse;
   }
h3 {
    font-size: 15px;
    font-family: 'Red Hat Display', sans-serif;
    color: white;
    margin-top: -8px;
    margin-bottom: 8px;
}

.center {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 15px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    width: 100%;
    background-color: #202121;
    text-align: center;
    margin-bottom: -33px;
    margin-top: 30px;
}

.icon {
    width: 70px;
    height: 70px;
    margin: -14px;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 5px;
}

.icon-center {
    width: 50px;
}
.bi-linkedin {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.bi-linkedin:hover {
    text-decoration: none;
    color: #d0ff25;
    transition: all 0.3s ease;
}

.bi-github {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.bi-github:hover {
    text-decoration: none;
    color: #d0ff25;
    transition: all 0.3s ease;
}
.bi-instagram {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.bi-instagram:hover {
    text-decoration: none;
    color: #d0ff25;
    transition: all 0.3s ease;
}
